<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">ITstep</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if app('auth').check() %}
                <li class="nav-item">
                    <a class="nav-link" href="/create/article">Створити статтю</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Вийти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Увійти</a>
                </li>
            {% endif %}
        </ul>
        <form action="/" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
