{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Заголовок</label>
                    <input type="text" class="form-control {{ errors.has('title') ? 'is-invalid' : '' }}" id="title" name="title" value="{{ old('title') }}">

                    {% if errors.has('title') %}
                        <div class="invalid-feedback">{{ errors.get('title') }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="slug">Слаг</label>
                    <input type="text" class="form-control {{ errors.has('slug') ? 'is-invalid' : '' }}" id="slug" name="slug" value="{{ old('slug') }}">

                    {% if errors.has('slug') %}
                        <div class="invalid-feedback">{{ errors.get('slug') }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="body">Вміст</label>
                    <textarea class="form-control {{ errors.has('body') ? 'is-invalid' : '' }}" id="body" rows="3" name="body">{{ old('body') }}</textarea>

                    {% if errors.has('body') %}
                        <div class="invalid-feedback">{{ errors.get('body') }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="preview">Превью фото</label>
                    <input type="file" class="form-control-file" id="preview" name="preview">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'body' );
    </script>
{% endblock %}
