{% extends 'layouts/base.twig' %}

{% block content %}
    {% if not articles is empty %}
        <div class="articles pb-5">
            {% for article in articles | slice(0, 25) %}
                <div class="card {{ not loop.last ? 'mb-5' : '' }}">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-3">
                                <img src="{{ fileUrl(previews[article.file_id], 250) }}" alt="{{ article.title }}" style="width: 100%;">
                            </div>
                            <div class="col-9">
                                <h5 class="card-title">{{ article.title }}</h5>
                                <div class="u-fz-sm card-subtitle mb-2 text-muted">Автор: {{ article.author }}</div>
                                <div class="u-fz-sm card-subtitle mb-2 text-muted">{{ article.created_at | date('H:i:s, Y-m-d') }}</div>

                                {% if not article.body is empty %}
                                    <p class="card-text">{{ article.body | striptags | slice(0, 150) | raw }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <a href="articles/view/?id={{ article.id }}" class="btn btn-primary">Детальніше</a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div class="text-center mb-5">
            {% if currentPage > 1 %}
                <a href="/?page={{ currentPage - 1 }}" class="btn btn-primary">< Попередня</a>
            {% endif %}

            {% if articles | length > 25 %}
                <a href="/?page={{ currentPage + 1 }}" class="btn btn-primary">Наступна ></a>
            {% endif %}
        </div>
    {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Статті відсутні...</h5>
            </div>
        </div>
    {% endif %}
{% endblock %}
