{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="login">Логін</label>
                    <input type="text" class="form-control {{ errors.has('login') ? 'is-invalid' : '' }}" id="login" name="login" value="{{ old('login') }}">

                    {% if errors.has('login') %}
                        <div class="invalid-feedback">{{ errors.get('login') }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control {{ errors.has('password') ? 'is-invalid' : '' }}" id="password" name="password">

                    {% if errors.has('password') %}
                        <div class="invalid-feedback">{{ errors.get('password') }}</div>
                    {% endif %}
                </div>

                {% if errors.has('credentials') %}
                    <div class="text-danger mb-2">{{ errors.get('credentials') }}</div>
                {% endif %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
